<% title "Create a new classified ad" %>
<div id="progress_box">
	<div class="step filled">Create your ad</div>
	<div class="step">Add Photos</div>
	<div class="step">Terms of Use</div>
	<div class="step">Thank You</div>
	<div class="newline"></div>
</div>

<div class="row">
	<div class="eightcol">
		<% form_for [current_user, @ad] do |f| %>
		  <%= f.error_messages %>
			<div class="form_divider">Categories</div>
		  	
		   	<%= f.collection_select :category, @cats, :id, :name, :prompt => "Select Main Category" %>
			<br />
			<select id="sub_cats_select" name="ad[sub_category]" class="required" title="Choose a Category"></select>
		  
			<div class="form_divider">Ad Information</div>
				<ol>
					<li>
						<%= f.label :price %>
						<%= f.text_field :price, :class => "required", :title => "Enter a Price", :style => "width: 40px;" %><%= f.text_field :cents, :style => "width: 20px;" %><span style="font-size: 12px; color: #888888; margin-left: 5px;">Numbers only</span>
					</li>
					<li>
						<%= f.label :title %>
						<%= f.text_field :title, :size => "46", :class => "required", :title => "You forgot the Title!" %>
					</li>
					<li>
						<%= f.label :description %>
						<%= f.text_area :description, :class => "required", :title => "Oops! You should say a little bit about your ad." %>
					</li>
					<li>
						<%= f.label :tags %>
						<%= f.text_field :tags, :size => "46" %>
						<div id="ad_tags_popup" style="display: none; font-size: 12px; color: #888888; margin-left: 5px;">Tag your ad to make it easy to find. Example: bike bicycle white good condition</div>
					</li>
					<li>
				  		<%= f.submit "Continue >>", :class => "button", :style => "margin-left: 87px; width: 90px;" %>
					</li>
				</ol>
		<% end %>
	</div>
	<div class="fourcol last">
	</div>
</div>



