<div class="row">

	<div class="threecol">
		<div id="slider_wrapper">
			<div id="slider">
				<ul>
				<% @assets.each do |asset| %>
					<li><a onClick="window.open('/photo_viewer?image=<%=asset.image_url if asset.image?%>','photo_viewer','width=800,height=550')"><%= image_tag asset.image_url, :style => "width: 240px; cursor: pointer;" %></a></li>
				<% end %>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="row" style="overflow: visible;">
				<div class="sixcol">
					<div class="show_ad_left_side">
						<li>Ad Number:</li>
						<li>Post Date:</li>
						<li>Time Online:</li>
						<li>Category:</li>
						<li>Views:</li>	
					</div>
				</div>
				<div class="sixcol last">
					<div class="show_ad_left_side">
						<li><%= @ad.id %></li>
						<li><%= @ad.created_at.strftime("%b #{@ad.created_at.day.ordinalize}, %Y") %></li>
						<li><%= time_ago_in_words(@ad.created_at) %></li>
						<li><%=h @ad.sub_category %></li>
						<li><%=h @ad.views %></li>
					</div>
				</div>
			</div>
		</div>

	</div>
	
	<div class="fivecol">		
		
		<div class="show_ad_price">
			$<%=h @ad.price %>.<%=h @ad.cents %>
		</div>
		
		<div class="show_ad_title">
			<%=h @ad.title %>
		</div>
		
		<div class="show_ad_under_title">
			<span style="color: #0072BC;"><%= @user.city %>, <%= @user.state %></span> <span style="color: #999999;"> &nbsp - &nbsp <%= @ad.created_at.strftime("%b #{@ad.created_at.day.ordinalize}, %Y") %></span>
		</div>

		<div class="show_ad_description">
			<%=h @ad.description %>
		</div>
		
		<div class="show_ad_user_info">
			<div class="show_ad_user_info_title">
				Seller Contact Info
			</div>
			<div class="container">
				<div class="row">
					<div class="sixcol">
						<div class="show_ad_user_info_small">
							Contact Name:
						</div>
					</div>
					<div class="sixcol last">
						<div class="show_ad_user_info_small">
							Phone:
						</div>
					</div>
				</div>
				<div class="row">
					<div class="sixcol">
						<div class="show_ad_user_info_normal">
							<%= @user.first_name %>
						</div>
					</div>
					<div class="sixcol last">
						<div class="show_ad_user_info_normal">
							<%= @user.phone %>
						</div>
					</div>
				</div>
				<div class="show_ad_user_info_title">
					Share
				</div>
				<div class="row">
					<div class="twelvecol last">
						<div style="float: left;">
							<span id="facebook" name="<%=@ad.title%>" description="<%=@ad.description%>" link="http://0.0.0.0:3000<%=user_ad_path(@user, @ad)%>"><%= image_tag("facebook.png") %></span>
						</div>
						<div style="float: left;">
							<a target="_blank" href="http://twitter.com/home?status= <%= @ad.title %> at http://c.codehog.com<%= user_ad_path(@user, @ad) %> "><%= image_tag("twitter.png") %></a>
						</div>
					</div>
				</div>				
			</div>
		</div>

	</div>
	
	<div class="fourcol last">




</div>


<% title "Classifieds - #{@ad.title}" %>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		//this will take care of page views for ads
		$.post(window.location+"/views", "");
	});
</script>