<div class="row">
	<div class="eightcol">
		<% @ads.each do |ad| %>
			<div class="ad">
				<div class="container">
					<div class="row">
						<div class="twocol">
							<% if ad.assets.empty? %>
							<% else %>
								<%= link_to image_tag(ad.assets.first.image_url, :style => "height: 75px;"), user_ad_path(ad.user_id, ad) %>
							<% end %>
						</div>
						<div class="eightcol">
							<div class="ad_title">
								<%= link_to ad.title, user_ad_path(ad.user_id, ad) %>
							</div>
							<div class="ad_city">
								<%=h ad.city %>, <%=h ad.state %>
							</div>
							<div class="ad_description">
								<%=h truncate(ad.description, 170, "...") %>
							</div>
							<div class="ad_price">
								$<%=h ad.price %><span style="font-size: 8px;"><%=h ad.cents %><span>
							</div>
							<div style="font-size: 20px; font-weight: bold; color: #BB0000; padding: 10px 0px">
								<%= link_to "Edit this Ad", edit_user_ad_path(current_user, ad), :style => "color: #BB0000;" %> |
								<%= link_to "Delete this Ad", user_ad_path(current_user, ad), :method => :delete, :confirm => "Are you sure you want to delete this ad? This cannot be undone.", :style => "color: #BB0000;" %>
							</div>
						</div>
						<div class="twocol last">
							<div class="ad_date">
								<%= ad.created_at.strftime("%b #{ad.created_at.day.ordinalize}, %Y") %>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	
	<div class="fourcol last">
		<span style="color: #555555; font-size: 24px; font-weight: bold;">Edit your account info</span>
		<ol>
				<% current_user.password = current_user.password_confirmation = nil %>
				<% form_for [current_user] do |f| -%>
			<li>
				<%= f.label :login, "Username<span class='required_star'>*</span>" %>
				<%= f.text_field :login, :class => "required", :title => "This can't be blank!" %>
			</li>
			<li>
				<%= f.label :email, "Email<span class='required_star'>*</span>" %>
				<%= f.text_field :email, :class => "required", :title => "This can't be blank!" %>
			</li>
			<li>
				<%= f.label :first_name, "First name<span class='required_star'>*</span>" %>
				<%= f.text_field :first_name, :class => "required", :title => "This can't be blank!" %>
			</li>
			<li>
				<%= f.label :last_name, "Last Name<span class='required_star'>*</span>" %>
				<%= f.text_field :last_name, :class => "required", :title => "This can't be blank!" %>
			</li>
			<li>
				<%= f.label :phone, "Phone<span class='required_star'>*</span>" %>
				<%= f.text_field :phone, :class => "required", :title => "This can't be blank!" %>
			</li>
			<li>
				<%= f.label :street, "Street<span class='required_star'>*</span>" %>
				<%= f.text_field :street, :class => "required", :title => "This can't be blank!" %>
			</li>
			<li>
				<%= f.label :city, "City<span class='required_star'>*</span>" %>
				<%= f.text_field :city, :class => "required", :title => "This can't be blank!" %>
			</li>
			<li>
		
					<%= f.label :state, "State<span class='required_star'>*</span>" %>
					<%= f.select :state, ['AK','AL','AR','AZ','CA','CO','CT','DC','DE','FL','GA','HI','IA','ID','IL','IN','KS','KY','LA','MA','MD','ME','MI','MN','MO','MS','MT','NC','ND','NE','NH','NJ','NM','NV','NY','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VA','VT','WA','WI','WV','WY'], :include_blank => true, :class => "required", :title => "This can't be blank!" %>
		
			</li>
			<li>
				<%= f.label :zip, "Zip Code<span class='required_star'>*</span>" %>
				<%= f.text_field :zip, :class => "required", :title => "This can't be blank!" %>
			</li>
			<li>
				<%= f.label :password, "Password<span class='required_star'>*</span>" %>
				<%= f.password_field :password, :class => "required", :title => "This can't be blank!" %>
			</li>
			<li>
				<%= f.label :password_confirmation, "Confirm<span class='required_star'>*</span>" %>
				<%= f.password_field :password_confirmation, :class => "required", :title => "This can't be blank!" %>
			</li>
			<li>
				<%= submit_tag 'Edit', :class => "button", :style => "margin-left: 0px;" %>
				<% end -%>
			</li>
		</ol>
	</div>



</div>

<% title "#{current_user.login}'s ads" %>
