<% form_for @cat do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :show %><br />
    <%= f.check_box :show %>
  </p>
  <p><%= f.submit %></p>
<% end %>
